nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #611BE3, #8935DD);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $medium 0;
    ul {
        width: 100%;
        li {
            cursor: pointer;
            color: $sub-white;
            position: relative;
            transition: left .5s;

            &:not(:last-of-type) {
                margin-bottom: $large;
            }

            .nav-icon {
                font-size: 22px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                border-width: 8px;
                border-style: solid;
                border-color: transparent $light-bg transparent transparent;
                opacity: 0;
                transition: all .5s;
            }

            &.active, &:hover {
                color: $white;

                &::after {
                    opacity: 1;
                }
            }

        }
    }

}