.socials {
    $yaxis: 50px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {

            &:not(:last-of-type) {
                margin-right: $medium;
            }
            width: $yaxis;
            height: $yaxis;
            line-height: $yaxis;
            text-align: center;
            border-radius: 50%;
            padding-top: 2px;
            font-size: 25px;
            a {
                color: $white;
            }

            &:first-child {
                background: #3b5999;
            }

            &:nth-child(2) {
                background: #0077B5;
            }

            &:nth-child(3){
                background: #dd4b39;
            }
        }
    }
}