$nav-width: 70px;

$header-height: 65px;

$small: 10px;

$medium: 20px;

$large: 40px;

$yaxis: 40px;

$white: #fff;

$sub-white: #dadada;

$light-bg: #f1f1f1;

$dark-bg: #202c37;

$dark-mode-el: #2b3945;

$dark: #333;

$text-dark: #5d5d5d;

$main-color: #611BE3;

$second-color: #8935DD;