meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
title M.hussien

// flickity slider
link(rel="stylesheet", href="https://unpkg.com/flickity@2/dist/flickity.min.css")

// css file includes (bootstrap, all libs)
link(rel="stylesheet", href="./css/style.css")

// icon (ionicons)
script(type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js")
script(nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js")

// favicon
link(rel="icon", href="./imgs/global/Profile.ico")

// aos library
link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")

link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")

// chat 
<script src="https://apps.elfsight.com/p/platform.js" defer></script>