nav
    ul.list-unstyled.m-0.p-0
        li.active(data-section="intro")
            <ion-icon name="home-outline" class="nav-icon"></ion-icon>

        li(data-section="about")
            <ion-icon name="document-outline" class="nav-icon"></ion-icon>

        li(data-section="skills")
            <ion-icon name="logo-buffer" class="nav-icon"></ion-icon>

        li(data-section="portfolio")
            <ion-icon name="code-working-outline" class="nav-icon"></ion-icon>

        li(data-section="contact")
            <ion-icon name="call-outline" class="nav-icon"></ion-icon>