// jquery
script(src="./js/jquery-3.4.1.min.js")

// bootstrap
script(src="./js/bootstrap.bundle.min.js")

// fittext
script(src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js")

// flickity slider
script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")

// axios
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

// aos library
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")

// main js file
script(src="./js/main-min.js")

<script>AOS.init();</script>