<!DOCTYPE html>
html(lang="en")
    head

        // start head
        include ../pug/templates/head
        // ==== end head

    body

        // start page
        .page    
        
            // start header
            include ../pug/templates/header-area
            // ===== end header

            // start navbar
            include ../pug/templates/navbar
            // ==== end navbar

            .page-content

                // the chat
                <div class="elfsight-app-24b6329a-a66e-49df-ad16-326d555a77af"></div>
                // ==== end the chat

                // start intro
                include ../pug/partials/intro
                // ======== end intro

                // start about
                include ../pug/partials/about
                // ==== end about

                // start skills
                include ../pug/partials/skills
                // ==== end skills

                // start portfolio
                include ../pug/partials/portfolio
                // ==== end portfolio

                // start contact
                include ../pug/partials/contact
                // ==== end contact


        // ==== end page

        // start scripts
        include ../pug/templates/scripts
        // ==== end scripts