.socials
    ul.list-unstyled.m-0.p-0.d-flex 
        li
            a(href="https://www.facebook.com/m.hus.dev/")
                <ion-icon class="icon" name="logo-facebook"></ion-icon>
        
        li
            a(href="https://www.linkedin.com/in/mahmoud-hussien-83a7121b2/")
                <ion-icon class="icon" name="logo-linkedin"></ion-icon>
        
        li
            a(href="#")
                <ion-icon class="icon" name="mail-outline"></ion-icon>