section.intro.padding-sec.d-flex.align-items-center

    // start dots-img
    img.dots-img(src="./imgs/dots.png", alt="dots")
    // ===== end dots-img

    .container
        .row.d-flex.justify-content-center

            // start intro-content
            .col-md-10.col-lg-8
                .intro-content

                    // start head-area
                    .head-area
                        h4.iam(data-aos="fade-right") i'm <span class="font-weight-bold">mahmoud</span> hussien
                        h6.job(data-aos="fade-left") front end web developer

                    // ==== end head-area

                    // start body-area
                    .body-area(data-aos="fade-up")
                        h1.hi-text  hey!
                    // ===== end body-area

                    // start footer-area
                    .footer-area
                        button.my-btn.go-to-about(data-aos="fade-right") who am i
                        button.my-btn.go-to-portfolio(data-aos="fade-left") my portfolio
                    // ==== end footer-area

            // ==== end intro-content