- var sectitle = "my portfolio";

section.portfolio.padding-sec.position-relative
    .container

        // start title
        include ../components/title
        // ==== end title  

        // start items
        .items

        // ==== end items